<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hemos registrado tu mensaje, <%= @subscriptor.name %></h1>
    <p>
      Te has subscrito exitosamente a letsplay.company,
      your username is: <%= @subscriptor.mail %>.<br>
    </p>
    <p>
      Si quieres que te llamemos responde con tu numero de celular o escribenos a : gerencia@.etsplay.company y uno de nuestros ejecutivos tendra el placer de atenderte.
    </p>
    <p>Gracias por escribir, que tu y tu mascota tengan un grandioso dia! </p>
  </body>
</html>