valor = document.getElementById("name").value;

if( valor == null || valor.length == 0 || /^\s+$/.test(valor) ) {
	$("#respuestasub").append("<li><p id='rcorners1'> ¡Felicidades ahora haces parte de nuestro Newslatter!. </p> </li>");
}else{
	$("#respuestacon").append("<li><p id='rcorners1'> ¡Hemos recibido tu mensaje!, un ejecutivo te contactará. </p> </li>");		
}

valor = null;

$('#name').val('');
$('#name_contacto').val('');
$('#subject').val('');
$('#subject_contacto').val('');
$('#mail').val('');
$('#mail_contacto').val('');
$('#message').val('');
$('#message_contacto').val('');